{{> header}}
<main>
  <h1>Create an Account</h1>
  <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/api/signup" method="POST">

<div class="col-md-10 mx-auto col-lg-5">

  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" id="username">
    <label for="username">Username</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" name="password" id="password" required>
    <label for="password">Password</label>
  </div>



    {{#if error}}
      <p class="login-error">{{error}}</p>
    {{/if}}
    <button class="btn btn-outline">Submit</button>
    </div>
  </form>
</main>
