:root {
  --black: #020303;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #5cc1bb;
  --primary-dark: #41aaa3;
  --secondary: hsl(15deg 100% 62%);
  --secondary-light: hsl(15deg 100% 70%);
  --text-color: #f5fffe;
  --space: 16px;
  --font-size: 18px;
}


h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: white;
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--light-grey);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}


.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }


}


.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  min-height: 600px;
}

@media screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .text-center.text-lg-start {
    text-align:left;

    .row align-items: ;
  }


 

}

.visual, .options {
  border: 1px solid;
}

.visual img {
  width: 100%;
  object-fit: cover;
  height: 600px;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}